@if (saveForm) {
<form [formGroup]="saveForm">
  <fieldset id="slots" formArrayName="slots">
    <legend for="slots">Slots</legend>
    @for (slot of saveForm.controls.slots.controls; track $index; let index =
    $index) {
    <div [formGroupName]="index">
      <app-galzyr-slot controlKey="cards" [label]="slot.getRawValue().name" />
    </div>
    }
  </fieldset>
  <fieldset id="characters" formArrayName="characters">
    <legend for="characters">Characters</legend>
    @for (character of saveForm.controls.characters.controls; track $index; let
    index = $index) {
    <app-galzyr-character
      [controlKey]="index"
      [name]="character.getRawValue().name"
    />
    }
  </fieldset>
</form>
} @else {
<!-- TODO: loading indicator comp -->
Loading . . . }
