:root {
  --primary: #e0c514;
  --on-primary: #000000;

  --primary-variant: #d86e00;
  --on-primary-variant: #000000;

  --secondary: #d12e2b;
  --on-secondary: #ffffff;

  --secondary-variant: #b51a18;
  --on-secondary-variant: #ffffff;

  --error: #dd1512;
  --on-error: #ffffff;

  --background: #ffffff;
  --on-background: #000000;

  --surface: #ffffff;
  --on-surface: #000000;
}
