<button (click)="onNewSaveDialogOpen(createDialog)">New save</button>

<hr />

<ul>
  @for (save of store.gameEntities(); track $index) {
  <li>
    <a [routerLink]="['./', 'save', save.name]"> {{ save.name }}</a>
    <button (click)="onDeleteDialogOpen(save.name, deletePopover)">X</button>
  </li>
  }
</ul>

<dialog #createDialog>
  <form
    [formGroup]="addSaveForm"
    (ngSubmit)="onNewSaveDialogSubmit(createDialog)"
  >
    <fieldset>
      <legend>Create new Galzyr Game</legend>

      <label for="name">Game name</label>
      <input
        type="text"
        id="name"
        [formControl]="addSaveForm.controls.name"
        autofocus
      />

      <button (click)="onNewSaveDialogCancel(createDialog)">Cancel</button>
      <button type="submit" [disabled]="addSaveForm.invalid">Create</button>
    </fieldset>
  </form>
</dialog>

<dialog #deletePopover>
  Are you sure you want to delete game
  <button (click)="onDeleteDialogClose(deletePopover)">Cancel</button>
  <button (click)="onDeleteDialogSubmit(deletePopover)">Delete</button>
</dialog>
