<router-outlet></router-outlet>
<ul>
  @for (item of store.gameEntities(); track $index) {
  <li>galzyr save {{ item.name }}</li>
  }
</ul>
<button (click)="onAddBtnClick()">test</button>

<form [formGroup]="form">
  @for (slot of galzyrSlots; track $index) {
  <app-galzyr-slot
    [controlKey]="slot.controlKey"
    [label]="slot.label"
    [initialCards]="cards"
  />
  }
  <app-galzyr-character
    controlKey="bumir"
    name="Bumir"
    [initialCards]="cards"
  />

  <app-galzyr-character
    controlKey="keridai"
    name="Keriadi"
    [initialCards]="cards"
  />

  <app-galzyr-character controlKey="mor" name="Mor" [initialCards]="cards" />

  <app-galzyr-character
    controlKey="aysala"
    name="Aysala"
    [initialCards]="cards"
  />
</form>
<code> {{ form.value | json }} </code>
