<fieldset [formGroupName]="controlKey()">
  <legend>{{ label() }}</legend>
  <ol class="card-list">
    @for (cardControl of slotArray?.controls; track cardControl.value; let index
    = $index) {
    <li>
      <app-galzyr-card
        [formControl]="cardControl"
        (delete)="removeCard(index)"
        [idPrefix]="controlKey() + label() + index"
      />
    </li>
    }
    <li class="add-button-container">
      <button
        type="button"
        class="btn btn--add-card"
        title="Add card"
        (click)="addCard()"
      >
        +
      </button>
    </li>
  </ol>
</fieldset>
